.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.dialog {
    margin: 0px 0px 10px 0px;
}

.dialog .dialogImage {
    border-radius: 50%;
}

.message, .companionMessage {
    margin: 10px 0px 10px 0px;
}

.companionMessage {
    text-align: right;
}